.Phonebook {
  margin-left: 50px;
}

.Contacts {
  margin-left: 50px;
}

.item {
  width: 300px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  border: 1px solid black;
  list-style: none;
  background-color: white;
}

.text {
  padding-left: 15px;
}

.btn {
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: blue;
  border-color: blue;
}

.btn:hover {
  color: darkblue;
  border-color: blue;
  background-color: azure;
}
